{
  "presets": [
    "@parcel/babel-preset-env", 
    "@babel/preset-react", 
    "preact"
  ],
  "plugins": [
    "@parcel/babel-plugin-transform-runtime", 
    "@babel/plugin-proposal-class-properties"
  ]
}