@import "../../variables.scss";

.Notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  padding: 1.25rem;
  width: 400px;
  background: $color-secondary;
  border-radius: 7px;
  transition: 1s;

  &.hide {
    right: -999px;
    opacity: 0;
  }

  button.close {
    position: absolute;
    right: 7px;
    top: 7px;
    align-self: flex-end;
  }

  &--danger {
    @extend .Notification;
    background-color: lighten($color-danger, 10);
    color: darken($color-danger, 40);

    button.close {
      color: darken($color-danger, 40);
    }
  }

  &--success {
    @extend .Notification;
    background-color: lighten($color-success, 10);
    color: darken($color-success, 40);

    button.close {
      color: darken($color-success, 40);
    }
  }
}