$background_page: linear-gradient(to top left, darken(#9579ad, 20),#000000);
$background_container: transparent;

$color-primary: #5b4e66;
$color-secondary: #1d1d1d;
$color-danger: hsla(357, 50%, 58%, 1);
$color-success: hsla(113, 20%, 53%, 1);

$text_primary: lighten($color-primary, 30);

$background_Box: rgba(0,0,0,.2);
