$message-avatar-size: 2em;

.chat {
  &__buffer {
    position: relative;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__message {
    position: relative;
    align-items: baseline;
    align-content: center;
    margin-bottom: .35rem;

    .avatar {
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: $message-avatar-size;
      height: $message-avatar-size;
      min-height: $message-avatar-size;
      background: #2a5f55;
      box-shadow: 3px 3px 0px 0px #2a0000;
      overflow: hidden;

      &__dummy,
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: $message-avatar-size * 1.5;
      }

      &__dummy {
        color: #e2dce8;
        font-weight: 700;
      }
    }

    .message {
      padding-left: .75em + $message-avatar-size;
      align-self: center;

      &__username {
        display: inline-block;
        font-weight: 700;
        padding-right: .75em;
        padding-bottom: .35rem;
      }

      &__text {
        display: flex;
        padding-right: 32px;
        p {
          word-break: break-all;
        }
      }

      &__timestamp {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .4;
      }
    }
  }
}