@import "../../variables.scss";

.ChatAvatar {
  font-weight: bold;
  line-height: 1.7rem;
  position: relative;
  min-height: 1.7rem;
  min-width: 1.7rem;
  max-width: 1.7rem;
  max-height: 1.7rem;
  margin-top: 5px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  overflow: hidden;

  .ChatAvatar__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 2.5rem;
  }
}